@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@320&display=swap');

:root {
    --default-font-family: "M PLUS 2", sans-serif;
    --source-code-font: "Source Code Pro", monospace;

    --default-background-color: #8fffba;
    --default-text-color: #333;
}

hr {
    border: 2px solid #686868;
    width: 80%;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media screen and (max-width: 800px) {
        width: 95%;
    }
}

.rightside {
    text-align: center;
    margin-left: auto;
    margin-right: 3%;
    float: right;
    width: 42%;

    @media screen and (max-width: 800px) {
        /* 縦に並ぶようにする */
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.leftside {
    text-align: center;
    margin-right: auto;
    margin-left: 3%;
    float: left;
    width: 42%;

    @media screen and (max-width: 800px) {
        /* 縦に並ぶようにする */
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

.box {
    border: 3px solid #3aa555;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textbox {
    border: 3px solid #3aa555;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 90%;
    height: 20px;
}

.textbox_mini {
    border: 3px solid #3aa555;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 50px;
    height: 20px;
}

.button {
    background-color: #3aa555;
    color: white;
    border: 2px solid #194724;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;

    transition-duration: 0.4s;
}

.button:hover {
    background-color: #64d480;
}

body, html {
    font-family: var(--default-font-family);
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

a.link_color {
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

/*ホバー時の色*/
a.link_color:hover {
    color: rgb(67, 131, 199);
}